@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&family=Ubuntu&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Atma&display=swap");
/*!-------------reset------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/*!-------------header------------*/
header {
  width: 100%;
  height: 160px;
  background-color: #c0958d;
  position: sticky;
  top: 0;
  z-index: 1; }
  header nav div a img {
    width: 192px;
    height: 146px; }
  header nav div .collapse ul .nav-item {
    background-color: #c0958d; }
  header nav div .collapse ul .nav-link {
    color: #200b00;
    text-decoration: none;
    text-align: center;
    font-size: 25px;
    font-weight: bolder;
    font-family: 'Architects Daughter', cursive;
    transition-property: color;
    transition-duration: 0.5s; }
    header nav div .collapse ul .nav-link span {
      color: #FEC89A; }
    header nav div .collapse ul .nav-link:hover {
      color: #FEC89A; }

/*-------logo wth-----*/
.whatsap {
  position: fixed;
  right: 10px;
  bottom: 100px; }

.hero {
  background-image: linear-gradient(rgba(255, 255, 255, 0.171), rgba(255, 255, 255, 0.233)), url(../img/meditacionfondo.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed; }
  .hero .hero-intro {
    background-color: #fec5bbb6;
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .hero .hero-intro div p {
      padding-top: 20px;
      color: #200b00;
      font-size: 40px;
      font-weight: bold;
      font-family: 'Architects Daughter', cursive;
      text-align: center; }
      .hero .hero-intro div p .hero-colortitulo {
        color: #a87242d5; }
    .hero .hero-intro .hero-intro-img img {
      width: 398px;
      height: 584px; }
  .hero .hero-bienvenidos h1 {
    text-align: center;
    color: #200b00;
    font-size: 60px;
    font-weight: bold;
    padding-top: 5px;
    font-family: 'Architects Daughter', cursive; }
    .hero .hero-bienvenidos h1 span {
      color: #e9a060; }
  .hero .hero-bienvenidos .hero-bienvenidos-mid {
    width: 100%;
    display: flex;
    flex-direction: row; }
    .hero .hero-bienvenidos .hero-bienvenidos-mid p {
      width: 60%;
      color: #200b00;
      font-size: 35px;
      font-weight: lighter;
      font-family: 'Architects Daughter', cursive;
      text-align: center; }
      .hero .hero-bienvenidos .hero-bienvenidos-mid p .span-p {
        font-weight: bold; }
  .hero .hero-video {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center; }

.carrusel {
  display: flex;
  flex-direction: row;
  background-color: #c0958d;
  margin-top: 10px; }
  .carrusel .carrusel-titular {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%; }
    .carrusel .carrusel-titular h2 {
      font-size: 60px;
      font-weight: bold;
      color: #200b00;
      font-family: 'Architects Daughter', cursive; }
      .carrusel .carrusel-titular h2 span {
        color: #e9a060; }
    .carrusel .carrusel-titular p {
      color: #200b00;
      font-size: 30px;
      font-weight: lighter;
      font-family: 'Architects Daughter', cursive;
      text-align: center; }
      .carrusel .carrusel-titular p .span-p {
        font-weight: bold; }
  .carrusel .carrusel-imagen {
    width: 60%; }

.venta {
  width: 100%;
  display: grid;
  background-color: #e1948a80;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto auto;
  justify-items: center;
  padding-bottom: 10px; }
  .venta h2 {
    width: 100%;
    height: 100px;
    font-weight: bold;
    grid-column-start: 1;
    grid-column-end: 5;
    font-size: 60px;
    margin-top: 10px;
    color: #200b00;
    background-color: #c0958d;
    font-family: 'Architects Daughter', cursive;
    text-align: center; }
    .venta h2 span {
      color: #FEC89A; }
  .venta .grid-item {
    width: 250px;
    height: 400px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 1s; }
    .venta .grid-item:hover {
      transform: scale(1.1); }
    .venta .grid-item h3 {
      font-size: 30px;
      color: #200b00;
      font-weight: bold;
      font-family: 'Architects Daughter', cursive; }
      .venta .grid-item h3 span {
        color: #e9a060; }
    .venta .grid-item img {
      width: 250px;
      height: 300px;
      border-radius: 30px; }
    .venta .grid-item a {
      font-weight: bolder;
      color: #200b00;
      text-decoration: none;
      font-size: 30px;
      background-color: #c0958d;
      font-family: 'Architects Daughter', cursive;
      border-radius: 10px;
      transition-property: background-color;
      transition-duration: 1s; }
      .venta .grid-item a:hover {
        background-color: #E1948A; }

.producto {
  width: 100%;
  display: grid;
  background-color: #e1948a80;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto auto;
  justify-items: center;
  margin-top: 30px;
  margin-bottom: 5px; }
  .producto div {
    grid-column-start: 1;
    grid-column-end: 5;
    text-align: center;
    background-color: #c0958d;
    width: 100%;
    height: fit-content; }
    .producto div h2 {
      color: #200b00;
      font-size: 60px;
      padding-top: 5px;
      font-family: 'Architects Daughter', cursive; }
      .producto div h2 span {
        color: #FEC89A; }
    .producto div p {
      color: #200b00;
      font-size: 30px;
      padding: 10px;
      font-family: 'Architects Daughter', cursive; }
      .producto div p span {
        font-weight: bolder; }
  .producto img {
    width: 300px;
    height: 400px;
    border-radius: 20px;
    margin: 10px;
    transition-duration: 1s; }
    .producto img:hover {
      transform: scale(1.3); }

.terapias {
  background-color: #fec5bbb6; }
  .terapias .terapias-servicios h1 {
    font-family: 'Architects Daughter', cursive;
    font-size: 60px;
    font-weight: bold;
    color: #200b00;
    text-align: center;
    background-color: #c0958d;
    border: 20px double #fec99ac9; }
  .terapias .terapias-servicios .terapias-servicios-contenido {
    margin: 5px 0px 5px 0px; }
    .terapias .terapias-servicios .terapias-servicios-contenido h2 {
      font-family: 'Architects Daughter', cursive;
      font-size: 60px;
      font-weight: bold;
      color: #200b00;
      text-align: center;
      background-color: #c0958d; }
      .terapias .terapias-servicios .terapias-servicios-contenido h2 span {
        color: #FEC89A; }
    .terapias .terapias-servicios .terapias-servicios-contenido div {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center; }
      .terapias .terapias-servicios .terapias-servicios-contenido div p {
        color: #200b00;
        font-size: 40px;
        font-weight: lighter;
        font-family: 'Architects Daughter', cursive;
        text-align: center; }
        .terapias .terapias-servicios .terapias-servicios-contenido div p span {
          font-weight: bold; }
      .terapias .terapias-servicios .terapias-servicios-contenido div img {
        width: 600px;
        height: 500px;
        border-radius: 5px; }

.nosotros {
  background-color: #fec5bbb6; }
  .nosotros .nosotros-intro {
    background-color: #fec5bbb6;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border: 5px solid #c0958d9a; }
    .nosotros .nosotros-intro h1 {
      text-align: center;
      color: #200b00;
      font-size: 120px;
      font-weight: bold;
      font-family: 'Architects Daughter', cursive;
      height: 200px;
      display: flex;
      align-items: center; }
      .nosotros .nosotros-intro h1 span {
        color: #e9a060; }
    .nosotros .nosotros-intro img {
      width: 133px;
      height: 195px; }
  .nosotros p {
    color: #200b00;
    font-size: 35px;
    font-family: 'Architects Daughter', cursive;
    text-align: center; }
  .nosotros div {
    background-color: #c0958d9a; }
    .nosotros div h2 {
      color: #200b00;
      font-size: 45px;
      font-weight: bold;
      font-family: 'Architects Daughter', cursive;
      text-align: center; }
      .nosotros div h2 span {
        color: #FEC89A; }
    .nosotros div p {
      color: #200b00;
      font-size: 35px;
      font-family: 'Architects Daughter', cursive;
      text-align: center; }
      .nosotros div p span {
        font-weight: bolder; }

.formulario {
  text-align: center;
  font-size: 40px;
  color: #200b00;
  font-weight: bold;
  font-family: 'Architects Daughter', cursive;
  background-color: #c0958d;
  border: 20px double #fec99ac9; }
  .formulario form .nombre {
    padding: 0px 100px 50px 100px; }
    .formulario form .nombre label span {
      color: #FEC89A; }
  .formulario form .genero {
    padding: 0px 100px 100px 100px; }
    .formulario form .genero label span {
      color: #FEC89A; }
  .formulario form .consulta {
    padding: 0px 100px 150px 100px; }
    .formulario form .consulta label span {
      color: #FEC89A; }

/*---- footer con acceso a redes ----*/
footer {
  background-color: #c0958d;
  display: flex;
  flex-direction: column;
  align-items: end; }
  footer h2 {
    color: #200b00;
    font-size: 15px;
    font-weight: bolder;
    font-family: 'Architects Daughter', cursive; }

@media (min-width: 700px) and (max-width: 1280px) {
  /*----------------------------index----------------------------*/
  .hero .hero-intro {
    width: 100%;
    display: flex;
    flex-direction: row; }
    .hero .hero-intro div p {
      font-size: 30px;
      font-weight: bold; }
    .hero .hero-intro .hero-intro-img img {
      width: 309px;
      height: 454px; }
  .hero .hero-bienvenidos h1 {
    font-size: 35px;
    font-weight: bolder; }
  .hero .hero-bienvenidos .hero-bienvenidos-mid {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .hero .hero-bienvenidos .hero-bienvenidos-mid p {
      font-size: 27px; }
  .carrusel {
    display: flex;
    flex-direction: column; }
    .carrusel .carrusel-titular {
      width: 100%; }
      .carrusel .carrusel-titular h2 {
        width: 100%;
        text-align: center;
        font-size: 45px; }
      .carrusel .carrusel-titular p {
        display: none; }
    .carrusel .carrusel-imagen {
      width: 100%; }
  .venta {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto;
    justify-items: center; }
    .venta h2 {
      grid-column-start: 1;
      grid-column-end: 3;
      font-size: 60px;
      text-align: center; }
  /*----------------------productos----------------------------*/
  .producto {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center; }
    .producto div {
      grid-column-start: 0;
      grid-column-end: 1;
      text-align: center;
      border-radius: 10px;
      margin: 30px; }
      .producto div h2 {
        font-size: 40px; }
      .producto div p {
        font-size: 30px; }
    .producto img {
      height: 350px;
      margin: 30px;
      border-radius: 10px; }
  /*-----------------------------------servicios------------------------------*/
  .terapias .terapias-servicios h1 {
    font-size: 50px; }
  .terapias .terapias-servicios .terapias-servicios-contenido h2 {
    font-size: 50px; }
  .terapias .terapias-servicios .terapias-servicios-contenido div p {
    font-size: 30px; }
  .terapias .terapias-servicios .terapias-servicios-contenido div img {
    width: 500px;
    height: 400px; }
  /*-------------------------------nosotros------------------------------*/
  .nosotros .nosotros-intro h1 {
    font-size: 75px; }
  .nosotros p {
    font-size: 30px; }
  .nosotros div h2 {
    font-size: 40px; }
  .nosotros div p {
    font-size: 30px; }
  .whatsap {
    display: none; } }

@media (min-width: 350px) and (max-width: 700px) {
  /*----------------------------index----------------------------*/
  .hero .hero-intro div p {
    font-size: 27px; }
  .hero .hero-intro .hero-intro-img img {
    width: 133px;
    height: 195px; }
  .hero .hero-bienvenidos h1 {
    font-size: 25px;
    font-weight: bold; }
  .hero .hero-bienvenidos .hero-bienvenidos-mid {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .hero .hero-bienvenidos .hero-bienvenidos-mid p {
      font-size: 20px; }
    .hero .hero-bienvenidos .hero-bienvenidos-mid .hero-video {
      width: 350px; }
  .carrusel {
    display: flex;
    flex-direction: column; }
    .carrusel .carrusel-titular {
      width: 100%; }
      .carrusel .carrusel-titular h2 {
        width: 100%;
        text-align: center;
        font-size: 30px; }
      .carrusel .carrusel-titular p {
        display: none; }
    .carrusel .carrusel-imagen {
      width: 100%; }
  .venta {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
    justify-items: center; }
    .venta h2 {
      grid-column-start: 1;
      grid-column-end: 1;
      font-size: 30px;
      text-align: center; }
  /*----------------------productos----------------------------*/
  .producto {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    justify-items: center; }
    .producto div {
      grid-column-start: 1;
      grid-column-end: 1;
      text-align: center;
      border-radius: 10px;
      height: 300px; }
      .producto div h2 {
        font-size: 30px; }
      .producto div p {
        font-size: 20px; }
    .producto img {
      height: 250px;
      margin: 10px;
      border-radius: 10px; }
  /*---------------------------------servicios-------------------------------*/
  .terapias .terapias-servicios h1 {
    font-size: 40px; }
  .terapias .terapias-servicios .terapias-servicios-contenido h2 {
    font-size: 40px; }
  .terapias .terapias-servicios .terapias-servicios-contenido div {
    display: flex;
    flex-direction: column; }
    .terapias .terapias-servicios .terapias-servicios-contenido div p {
      font-size: 20px; }
    .terapias .terapias-servicios .terapias-servicios-contenido div img {
      width: 330px;
      height: 250px; }
  /*-------------------------------nosotros------------------------------*/
  .nosotros .nosotros-intro {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center; }
    .nosotros .nosotros-intro h1 {
      font-size: 45px;
      height: 100px; }
    .nosotros .nosotros-intro img {
      width: 113px;
      height: 155px; }
  .nosotros p {
    font-size: 20px; }
  .nosotros div h2 {
    font-size: 30px; }
  .nosotros div p {
    font-size: 20px; }
  /*-----------------------------------contacto---------------------------*/
  .formulario {
    font-size: 30px; }
  .whatsap {
    display: none; } }

@media (min-width: 700px) and (max-width: 992px) {
  /*----------------------------nav bar--------------------------*/
  .collapse ul .nav-item {
    width: 300px;
    border: 3px solid #ac867e;
    border-radius: 3px; } }

@media (min-width: 350px) and (max-width: 700px) {
  /*----------------------------nav bar--------------------------*/
  .collapse ul .nav-item {
    width: 300px;
    border: 2px solid #ac867e; } }
