@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&family=Ubuntu&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Atma&display=swap');

/*!-------------reset------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*!-------------header-----------*/
header {
    width: 100%;
    height: 160px;
    background-color: #c0958d;
    position: sticky;
    top: 0;
    z-index: 1;
    ;
}

/*!----logo---*/
header img {
    width: 192px;
    height: 146px;

}


header nav li {
    background-color: #c0958d;
    

}

header nav ul li a {

    color: #4E1A00;
    text-decoration: none;
    font-size: 30px;
    font-weight: bolder;
    font-family: 'Architects Daughter', cursive;
}

.nav-link span {
    color: #FEC89A;
}


.nav-item {
    font-size: 25px;
    font-weight: bold
}

/*!------------main--------------*/
.inicio {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}


/*!---seccion hero completa---*/
.hero {
    background-image: url(../img/meditacionfondo.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;


}

/*!---introduccion hero----*/
.hero-intro {
    background-color: #fec5bbb6;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-intro img {
    width: 398px;
    height: 584px;

}

.hero-colortitulo {
    color: #a87242d5;
}

.hero-intro p {
    padding-top: 20px;

    color: #200b00;
    font-size: 40px;
    font-weight: bold;
    font-family: 'Architects Daughter', cursive;
    text-align: center;
    ;


}

/*!---- hero meditacion iframe---*/


.hero-bienvenidos h1 {
    text-align: center;
    color: #200b00;
    font-size: 60px;
    font-weight: bold;
    padding-top: 5px;
    font-family: 'Architects Daughter', cursive;
}

.hero-bienvenidos span {
    color: #e9a060;
}

.hero-bienvenidos-mid {
    width: 100%;
    display: flex;
    flex-direction: row;


}

.hero-bienvenidos p {
    width: 60%;
    color: #200b00;
    font-size: 35px;
    font-weight: lighter;
    font-family: 'Architects Daughter', cursive;
    text-align: center
}

.hero-video {
    display: flex;

    align-items: center;
}

.span-p {
    font-weight: bold;
}

/*!---prodcutos generales---*/

.producto {
    width: 100%;
    display: grid;
    background-color: #e1948a80;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto;
    justify-items: center;
    margin-top: 30px;
    margin-bottom: 5px;
}

.producto div {
    grid-column-start: 1;
    grid-column-end: 5;
    text-align: center;
    background-color: #c0958d;
    width: 100%;
    height: fit-content;

}

.producto div h2 {
    color: #200b00;
    font-size: 60px;
    padding-top: 5px;
    font-family: 'Architects Daughter', cursive;
}

.producto div h2 span {
    color: #a87242d5;

}

.producto div p {
    color: #200b00;
    font-size: 30px;
    padding: 10px;
    font-family: 'Architects Daughter', cursive;
}

.producto img {
    width: 300px;
    height: 400px;
    border-radius: 20px;
    margin: 10px;
}


/*!--tarjeta productos index --*/
.venta {
    width: 100%;
    display: grid;
    background-color: #e1948a80;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto;
    justify-items: center;

}

.venta h2 {
    width: 100%;
    height: 100px;
    font-weight: bold;
    grid-column-start: 1;
    grid-column-end: 5;
    font-size: 60px;
    margin-top: 10px;
    color: #200b00;
    background-color: #c0958d;
    font-family: 'Architects Daughter', cursive;
    text-align: center;
}

.venta h2 span {
    color: #FEC89A;

}


.venta div {
    width: 250px;
    height: 400px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


}

.venta div h3 {
    font-size: 30px;
    color: #200b00;
    font-weight: bold;
    font-family: 'Architects Daughter', cursive;

}

.venta h3 span {
    color: #e9a060;
}

.venta div img {
    width: 250px;
    height: 300px;
    border-radius: 30px;
}

.venta div a {
    font-weight: bolder;
    color: #200b00;
    text-decoration: none;
    font-size: 30px;
    background-color: #c0958d;
    font-family: 'Architects Daughter', cursive;
    border-radius: 10px
}

/*!--boton tarjeta productos---*/

.grid-item a:hover {
    background-color: #E1948A;
}


.formulario {
    text-align: center;
    font-size: 40px;
    color:#200b00;
    font-weight: bold;
    font-family: 'Architects Daughter', cursive;
    background-color: #c0958d;
    border: 20px double #fec99ac9 ;
    
}

.nombre {
    padding: 0px 100px 50px 100px;
}


.genero {
    padding: 0px 100px 100px 100px;
}

.consulta {
    padding: 0px 100px 150px 100px;
}

.nombre div label span {
    color:#FEC89A
}

.genero div label span {
    color:#FEC89A
}

.consulta div label span {
    color:#FEC89A
}

.boton {
    background-color: #c0958d;
}

.whatsap {
    position: fixed;
    right: 10px;
    bottom: 100px;

}

/*!---- carrusel ciclo lunar----*/

.carrusel {
    display: flex;
    flex-direction: row;
    background-color: #e1948aa9;
    margin-top: 10px;
}

.carrusel-titular {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
}

.carrusel-titular span {
    color: #e9a060;
}

.carrusel h2 {
    font-size: 60px;
    font-weight: bold;
    color: #200b00;
    font-family: 'Architects Daughter', cursive;

}

.carrusel p {
    color: #200b00;
    font-size: 30px;
    font-weight: lighter;
    font-family: 'Architects Daughter', cursive;
    text-align: center;

}

/*!------terapias----*/

.terapias {
    background-color: #fec5bbb6;
}




.terapias-servicios-contenido {
    margin: 5px 0px 5px 0px;
}

.terapias-servicios-contenido div {
    display: flex;
    flex-direction: row;
    align-items: center;

}


.terapias-servicios-contenido h1 {
    font-family: 'Architects Daughter', cursive;
    font-size: 60px;
    font-weight: bold;
    color: #200b00;
    text-align: center;
    background-color: #c0958d;
}

.terapias-servicios-contenido h1 span {
    color: #FEC89A;


}



.terapias-servicios-contenido p {
    color: #200b00;
    font-size: 40px;
    font-weight: lighter;
    font-family: 'Architects Daughter', cursive;
    text-align: center;
    
    



}

.span-terapia {
    font-weight: bold;
}





.terapias-servicios-contenido div img {
    width: 600px;
    height: 500px;
    border-radius: 5px;


}


/*!----nosotros----*/


.nosotros {
    background-color: #fec5bbb6;



}

.nosotros h1 {
    text-align: center;
    color: #200b00;
    font-size: 120px;
    font-weight: bold;
    font-family: 'Architects Daughter', cursive;
    height: 200px;
    display: flex;
    align-items: center;


}

#nostros-intro h1 span {
    color:#FEC89A;
}

.nosotros h2 {
    color: #200b00;
    font-size: 45px;
    font-weight: bold;
    font-family: 'Architects Daughter', cursive;
    text-align: center;
    

}

.nosotros h2 span {
    color: #FEC89A;
}

.nosotros p {

    color: #200b00;
    font-size: 35px;
    font-family: 'Architects Daughter', cursive;
    text-align: center
}

.nosotros p span {
    font-weight: bolder;
}

.nosotros img {
    width: 133px;
    height: 195px;
}

.nosotros div {
    background-color: #c0958d9a;

}

#nosotros-intro {
    background-color: #fec5bbb6;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border:5px solid #c0958d9a ;
}

/*!------------footer-------------*/

footer {
    background-color: #d4aba4;
    display: flex;
    flex-direction: column;
    align-items: end;
}

footer h2 {
    color: #200b00;
    font-size: 15px;
    font-weight: bolder;
    font-family: 'Architects Daughter', cursive;

}





@media (min-width:700px)and (max-width:1280px) {





    .hero-intro {

        width: 100%;
        display: flex;
        flex-direction: row;

    }



    .hero-intro p {
        font-size: 30px;
        font-weight: bold;
    }

    .hero-intro img {
        width: 309px;
        height: 454px;
    }

    .hero-bienvenidos-mid {

        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;

    }

    .hero-bienvenidos h1 {
        font-size: 35px;
        font-weight: bolder;
    }

    .hero-bienvenidos p {
        font-size: 27px;
    }

    .producto {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        justify-items: center;


    }


    .producto div {
        grid-column-start: 1;
        grid-column-end: 1;
        text-align: center;
        border-radius: 10px;
        margin: 30px;



    }

    .producto div h2 {

        font-size: 40px;

    }

    .producto div p {
        font-size: 30px;

    }

    .producto img {
        height: 350px;
        margin: 30px;
        border-radius: 10px;

    }




    .venta {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto auto;
        justify-items: center;

    }

    .venta h2 {

        grid-column-start: 1;
        grid-column-end: 3;
        font-size: 60px;
        text-align: center;
    }



    .venta div {
        width: 250px;
        height: 400px;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }

    .venta div h3 {
        font-size: 30px;


    }

    .venta div img {
        width: 250px;
        height: 300px;
        border-radius: 30px;
    }

    .venta div a {
        font-weight: bolder;

        font-size: 30px;

        border-radius: 10px
    }

    .whatsap {
        display: none;
    }

    .carrusel {
        display: flex;
        flex-direction: column;
    }


    .carrusel-titular {
        width: 100%;
    }

    .carrusel-titular h2 {
        width: 100%;
        text-align: center;


        font-size: 45px;
    }

    .carrusel-titular p {
        display: none;
    }

    .terapias-servicios-contenido h1 {
        font-size: 50px;

    }

    .terapias-servicios-contenido p {
        font-size: 30px;

    }
    
    .terapias-servicios-contenido div img{
        width: 500px;
        height: 400px;

    }

    .nosotros h1 {
        font-size: 75px;

    }
    

    .nosotros p {
        font-size:30px ;

    }

    .nosotros h2 {
        font-size: 40px ;

    }

}



@media (min-width:350px)and (max-width:700px) {

    header h1 {
        font-size: 30px;
    }

    header nav ul li a {
        padding: 2px;
        font-size: 15px;
        ;
    }


    .hero-intro {

        width: 100%;
        display: flex;
        flex-direction: row;

    }

    .hero-intro img {
        width: 133px;
        height: 195px;
    }

    .hero-intro p {

        font-size: 20px;

        ;



    }

    .hero-bienvenidos-mid iframe {
        width: 350px;
    }



    .hero-bienvenidos-mid {

        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;

    }


    .hero-bienvenidos h1 {
        font-size: 25px;
        font-weight: bold;
    }

    .hero-bienvenidos p {
        font-size: 15px;
    }

    .producto {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        justify-items: center;



    }


    .producto div {
        grid-column-start: 1;
        grid-column-end: 1;
        text-align: center;
        border-radius: 10px;
        height: 300px;



    }

    .producto div h2 {

        font-size: 30px;

    }

    .producto div p {
        font-size: 20px;

    }

    .producto img {
        height: 250px;
        margin: 10px;
        border-radius: 10px;

    }

    .venta {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto;
        justify-items: center;

    }

    .venta h2 {

        grid-column-start: 1;
        grid-column-end: 1;
        font-size: 30px;


        text-align: center;
    }



    .venta div {
        width: 250px;
        height: 400px;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }

    .venta div h3 {
        font-size: 30px;



    }

    .venta div img {
        width: 250px;
        height: 300px;
        border-radius: 30px;
    }

    .venta div a {

        font-size: 30px;



    }

    .whatsap {
        display: none;
    }


    .carrusel {
        display: flex;
        flex-direction: column;
    }


    .carrusel-titular {
        width: 100%;
    }

    .carrusel-titular h2 {
        width: 100%;
        text-align: center;


        font-size: 30px;
    }

    .carrusel-titular p {
        display: none;
    }

    .terapias-servicios-contenido div {
        display: flex;
        flex-direction: column;
        
    
    }


    .terapias-servicios-contenido h1 {
        font-size: 40px;

    }

    .terapias-servicios-contenido p {
        font-size: 20px;

    }
    
    .terapias-servicios-contenido div img{
        width: 330px;
        height: 250px;

    }

    #nosotros-intro {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }


    .nosotros h1 {
        font-size: 45px;
        height: 100px;

    }
    

    .nosotros p {
        font-size:20px ;

    }

    .nosotros h2 {
        font-size: 30px ;

    }

    .nosotros img {
        width: 113px;
        height: 155px;
    }

    .formulario {
        font-size: 30px;
        
    }
}