.nosotros {
    background-color: $color-caternario;

    .nosotros-intro {
        background: rgb(192, 149, 141);
        background: linear-gradient(180deg, rgba(192, 149, 141, 1) 36%, rgba(223, 178, 170, 1) 64%);
        @include flex (flex, row, space-evenly, center);

        h1 {
            text-align: center;
            color: $color-texto-principal;
            font-size: nth($font-size , 3);
            font-weight: bold;
            font-family: 'Architects Daughter', cursive;
            height: 200px;
            display: flex;
            align-items: center;
        }

        img {
            width: 133px;
            height: 195px;
        }
    }

    p {
        color: $color-texto-principal;
        font-size: nth($font-size , 1);
        font-family: 'Architects Daughter', cursive;
        text-align: center
    }

    div {
        background: rgb(192, 149, 141);
        background: linear-gradient(180deg, rgba(192, 149, 141, 1) 36%, rgba(223, 178, 170, 1) 64%);
        padding: 20px;

        h2 {
            color: $color-texto-principal;
            font-size: nth($font-size , 2);
            font-weight: bold;
            font-family: 'Architects Daughter', cursive;
            text-align: center;

            span {
                color: $color-span-principal;
            }
        }

        p {
            color: $color-texto-principal;
            font-size: nth($font-size , 1);
            font-family: 'Architects Daughter', cursive;
            text-align: center;
            margin-bottom: 0px;

            span {
                font-weight: bolder;
            }
        }
    }
}