.producto{
    width: 100%;
    display: grid;
    background-color:$color-secundario;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto;
    justify-items: center;
    margin-top: 30px;
    margin-bottom: 5px;
    div{
        grid-column-start: 1;
        grid-column-end: 5;
        text-align: center;
        background-color:$color-principal;
        width: 100%;
        height: fit-content;
        h2{
            color: $color-texto-principal;
            font-size: 60px;
            padding-top: 5px;
            font-family: 'Architects Daughter', cursive;
            span {
                color:$color-span-principal;

            }
        }
        p{
            color:$color-texto-principal;
            font-size: 30px;
            padding: 10px;
            font-family: 'Architects Daughter', cursive;
            span{
                font-weight: bolder;
            }
        }
    }
    img{
        width: 300px;
        height: 400px;
        border-radius: 20px;
        margin: 10px;
        transition-duration: 1s;
        &:hover {transform: scale(1.3);}
    }
}