.terapias {
    background-color: $color-terciario;
    .terapias-servicios {
        h1{
            font-family: 'Architects Daughter', cursive;
            font-size: 60px;
            font-weight: bold;
            color: $color-texto-principal;
            text-align: center;
            background-color:$color-principal;
            border: 20px double #fec99ac9 ;
        }
        .terapias-servicios-contenido{
            margin: 5px 0px 5px 0px;
            h2{
                font-family: 'Architects Daughter', cursive;
                font-size: 60px;
                font-weight: bold;
                color: $color-texto-principal;
                text-align: center;
                background-color:$color-principal;
                span{
                    color: $color-span-principal;

                }
            }
            div{
                @include flex (flex,row,center,center);
                p{
                    color: $color-texto-principal;
                    font-size: 40px;
                    font-weight: lighter;
                    font-family: 'Architects Daughter', cursive;
                    text-align: center;
                    span{
                        font-weight: bold;
                    }
                }
                img{
                    width: 600px;
                    height: 500px;
                    border-radius: 5px;
                }
            }
        }
    }
}