.terapias {
    background-color: $color-terciario;
    .terapias-servicios {
        h1{
            font-family: 'Architects Daughter', cursive;
            font-size: 60px;
            font-weight: bold;
            color: $color-texto-principal;
            text-align: center;
            background: rgb(192,149,141);
            background: linear-gradient(180deg, rgba(192,149,141,1) 36%, rgba(223,178,170,1) 64%);
            height: 150px;
            @include flex (flex,row,center,center)
        }
        .terapias-servicios-contenido{
            h2{
                font-family: 'Architects Daughter', cursive;
                font-size: 60px;
                font-weight: bold;
                color: $color-texto-principal;
                text-align: center;
                background-color:$color-caternario;
                span{
                    color: $color-span-principal;

                }
            }
            div{
                @include flex (flex,row,center,center);
                p{
                    color: $color-texto-principal;
                    font-size: 40px;
                    font-weight: lighter;
                    font-family: 'Architects Daughter', cursive;
                    text-align: center;
                    span{
                        font-weight: bold;
                    }
                }
                img{
                    width: 600px;
                    height: 500px;
                    border-radius: 5px;
                    margin: 5px;
                }
            }
        }
    }
}